.slider {
    position: relative;
    width: 800px;
    overflow: hidden;
  }
  
  .slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  
  .slide {
    min-width: 100%;
    background-size: cover;
    background-position: center;
    height: 300px; 
  }
  
  .nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
  }
  
  .prev {
    left: 10px;
  }
  
  .next {
    right: 10px;
  }
  
  .dots {
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
  }
  
  .dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    background-color: white;
    border-radius: 50%;
    cursor: pointer;
  }
  
  .dot.active {
    background-color: red;
  }
  .additional-images {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    
  }
  
  .additional-image {
    width: 500px;
    height: 145px;
    margin-bottom: 10px;
   
  }
  